<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/index.css" type="text/css" />
    <title>Calendar</title>
  </head>
  <body>
    <h1>Carrigan's Community Calendar</h1>
    <p>This calendar shows our upcoming community events.</p>
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23B39DDB&amp;ctz=America%2FLos_Angeles&amp;src=MnJuMGdqc2FxMzVvbzBqazlnanA4aHVqYThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23B39DDB&amp;title=Carrigan&#39;s%20Community&amp;showNav=1&amp;showTabs=0&amp;showCalendars=0&amp;showPrint=0&amp;showDate=1"
      style="border-width: 0"
      width="800"
      height="600"
      frameborder="0"
      scrolling="no"
    ></iframe>
    <p>Want to request a community event? Use our scheduling tool:</p>
    <!-- Calendly inline widget begin -->
    <div
      class="calendly-inline-widget"
      data-url="https://calendly.com/nhcarrigan/carrigans-community-event"
      style="min-width: 320px; height: 630px"
    ></div>
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async
    ></script>
    <!-- Calendly inline widget end -->
  </body>
</html>
