:root {
	/* CSS HEX */
	--dark-magenta: #9c138f;
	--wisteria: #b695ce;
	--bone: #e3dfd1;
	--jet: #333333;
	--purple-pizzazz: #e74bda;
	--blue-violet-color-wheel: #511e6a;
	--main-bg: #1b1b32;
}

* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: var(--main-bg);
	color: #aea8d3;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
main {
	background: var(--main-bg);
}
h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: sans-serif;
	color: white;
	font-size: 3rem;
	align-items: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#opening h3 a {
	color: white;
}
a {
	color: #aea8d3;
	text-decoration: none;
}
li {
	float: left;
}
#nav {
	box-shadow: 0 0px 10px rgba(255, 255, 255, 0.3);
	background-color: var(--main-bg);
	position: fixed;
	width: 100%;
	padding-left: 1.5em;
}
#nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
}

#nav li a:hover {
	background-color: brown;
}

#welcome {
	display: flex;
	height: 97.5vh;
	text-align: left;
	align-items: center;
	font-size: 27px;
	background: #3a3240;
}
#welcome h1 {
	padding: 20px;
	font-family: monospace;
}
#opening {
	margin: 5%;
	padding: 5%;
	font-family: monospace;
	font-size: 1rem;
}
#gaming {
	margin: 5%;
	padding: 5%;
	font-family: monospace;
	font-size: 1rem;
}
#discussion {
	margin: 5%;
	padding: 5%;
	font-family: monospace;
	font-size: 1rem;
}
#whoisNH {
	background: #e3dfd1;
	color: black;
	box-shadow: 10px;
	border-radius: 30px;
	width: 60vw;
	margin: 10% auto;
	padding: 5%;
}
#nicksInfo {
	display: flex;
	padding-top: 20px;
}

#goals h2 {
	color: #3a3240;
}
#whoisNH h2 {
	color: #3a3240;
}
#goals {
	width: 80%;
	padding: 20px;
	margin: auto;
	background: beige;
	color: grey;
	border-radius: 30px;
	font-family: monospace;
	font-size: 1rem;
}
#mods {
	text-align: center;
}
#calender {
	padding: 20px;
	text-decoration: underline;
}

@media screen and (max-width: 1000px) {
	#nicksInfo {
		flex-direction: column;
	}
	#nicksInfo img {
		margin: auto;
	}
}
